<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Spiral Plot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>


<body>
<div class="text-left mt-4 ms-5" >
<h2>Spiral Plot for Motion Sensor Data</h2>

<form method="post" action="{% url 'graph_plot' %}" enctype="multipart/form-data">
    {% csrf_token %}

        <div class="row">
    <div class="col">

        <select  name="excel_file" id="id_excel_file" required="">
             <option value="1331647-Motion sensors.xlsx" {% if request.session.excel_file == '1331647-Motion sensors.xlsx' %}selected{% endif %}>1331647-Motion sensors.xlsx</option>
             <option value="1328632-Motion sensors.xlsx" {% if request.session.excel_file == '1328632-Motion sensors.xlsx' %}selected{% endif %}>1328632-Motion sensors.xlsx</option>
             <option value="1306666-Motion sensors.xlsx" {% if request.session.excel_file == '1306666-Motion sensors.xlsx' %}selected{% endif %}>1306666-Motion sensors.xlsx</option>
              <option value="1306781-Motion sensors.xlsx" {% if request.session.excel_file == '1306781-Motion sensors.xlsx' %}selected{% endif %}>1306781-Motion sensors.xlsx</option>
                 <option value="1306617-Motion sensors.xlsx" {% if request.session.excel_file == '1306617-Motion sensors.xlsx' %}selected{% endif %}>1306617-Motion sensors.xlsx</option>

            <option value="Motionsensors-1306512.xlsx" {% if request.session.excel_file == 'Motionsensors-1306512.xlsx' %}selected{% endif %}>Motionsensors-1306512.xlsx</option>
             <option value="Motion sensors- 1306638-Bathroom,Bedroom,Familyroom,Kitchen,Computer-room.xlsx" {% if request.session.excel_file == 'Motion sensors- 1306638-Bathroom,Bedroom,Familyroom,Kitchen,Computer-room.xlsx' %}selected{% endif %}>Motion sensors- 1306638-Bathroom,Bedroom,Familyroom,Kitchen,Computer-room.xlsx</option>
        </select>
        &emsp;
       <label class="form-label"  for="id_from_date">From Date:</label>
        <input  type="text"  style="width: 115px;" name="from_date" required="" placeholder="YYYY-MM-DD" id="id_from_date" value="{{ request.session.from_date }}">
&emsp;
        <label for="id_to_date">To Date:</label>
        <input type="text" name="to_date"  style="width: 115px;" required="" placeholder="YYYY-MM-DD" id="id_to_date" value="{{ request.session.to_date }}">
    <br>
        <label for="id_select_room">Rooms:</label>
        <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="select_room" id="id_select_Bedroom" value="Bedroom" {% if request.session.select_room == 'Bedroom' %}checked{% endif %}>
                    <label class="form-check-label" for="id_select_all_rooms">Bedroom</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="select_room" id="id_select_Bathroom" value="Bathroom" {% if request.session.select_room == 'Bathroom' %}checked{% endif %}>
                    <label class="form-check-label" for="id_select_Bathroom">Bathroom</label>
                </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="select_room" id="id_select_Kitchen" value="Kitchen" {% if request.session.select_room == 'Kitchen' %}checked{% endif %}>
                    <label class="form-check-label" for="id_select_Kitchen">Kitchen</label>
                </div>
     <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="select_room" id="id_select_Living-Room" value="Living-Room" {% if request.session.select_room == 'Living-Room' %}checked{% endif %}>
                    <label class="form-check-label" for="id_select_Living-Room">Living-Room</label>
                </div>
     <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="select_room" id="id_select_Computer-room" value="Computer-room" {% if request.session.select_room == 'Computer-room' %}checked{% endif %}>
                    <label class="form-check-label" for="id_select_Computer-room">Computer-room</label>
                </div>
     <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="select_room" id="id_select_Hall" value="Hall" {% if request.session.select_room == 'Hall' %}checked{% endif %}>
                    <label class="form-check-label" for="id_select_Hall">Hall</label>
                </div>
     <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="select_room" id="id_select_Familyroom" value="Familyroom" {% if request.session.select_room == 'Familyroom' %}checked{% endif %}>
                    <label class="form-check-label" for="id_select_Familyroom">Familyroom</label>
                </div>
<br>
    <button style="border-radius: 5px;" type="submit">Get Data</button>
     </div>
            </div>
</form>
 </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
{% block content %}
{% endblock %}
</html>
